.abc, .gg {
  background-color: red;
  color: yellow;
  font-size: 22px;
}

.pl {
  background-color: red;
  color: yellow;
  font-size: 22px;
  color: green;
}

.k1 {
  font-size: 20px;
  line-height: 1.8;
  letter-spacing: 1px;
}

.cde {
  background-color: red;
}

.KK {
  background-color: blue;
  color: yellow;
  font-size: 22px;
}

.a1 {
  color: blue;
}

.abc, .gg {
  background-color: red;
  color: yellow;
  font-size: 22px;
}

.pl {
  background-color: red;
  color: yellow;
  font-size: 22px;
  color: green;
}

.k1 {
  font-size: 20px;
  line-height: 1.8;
  letter-spacing: 1px;
}

.a2 {
  color: red;
}
