<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hover</title>
    <link rel="stylesheet" href="../../../../assets/style.css">
    <style>
        html,
        body {
            background-color: var(--clrDarkBlueBg);
            color: white;
        }
    </style>
    <link rel="stylesheet" href="./buttonHover.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

</head>

<body>
    <div class="buttons">
        <h1>Simple hover effects with <code>box-shadow</code></h1>
        <button class="fill">Fill In</button>
        <button class="pulse">Pulse</button>
        <button class="close">Close</button>
        <button class="raise">Raise</button>
        <button class="up">Fill Up</button>
        <button class="slide">Slide</button>
        <button class="offset">Offset</button>
    </div>
</body>

</html>