@charset "UTF-8";
.inputField1 {
  padding: 0.3rem;
}
.inputField1 span {
  text-transform: uppercase;
  font-size: 12px;
  opacity: 0.4;
  display: inline;
  vertical-align: middle;
  position: relative;
  transition: all 0.5s ease-in-out;
  margin-left: 20px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}
.inputField1 input {
  display: inline;
  font-size: 14px;
  color: #fff;
  border: none;
  width: 100%;
  padding: 20px 10px;
  height: 15px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0);
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}
.inputField1 input:focus {
  outline: 0;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  background: rgba(0, 0, 0, 0);
  color: #fff;
}
.inputField1 input:focus + span {
  opacity: 0.6;
}

.inputCheckValid {
  width: calc(100% - 1.4rem);
}
.inputCheckValid + span {
  display: inline;
  position: relative;
  opacity: 1;
}
.inputCheckValid + span::before {
  position: absolute;
  display: inline;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "ÔÅò";
  font-size: 1.4rem;
  color: lime;
  right: -0.7rem;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.inputCheckValid:invalid + span::before {
  display: none;
}

.inputField1 {
  padding: 0.3rem;
}
.inputField1 span {
  text-transform: uppercase;
  font-size: 12px;
  opacity: 0.4;
  display: inline;
  vertical-align: middle;
  position: relative;
  transition: all 0.5s ease-in-out;
  margin-left: 20px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}
.inputField1 input {
  display: inline;
  font-size: 14px;
  color: #fff;
  border: none;
  width: 100%;
  padding: 20px 10px;
  height: 15px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0);
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}
.inputField1 input:focus {
  outline: 0;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  background: rgba(0, 0, 0, 0);
  color: #fff;
}
.inputField1 input:focus + span {
  opacity: 0.6;
}
