<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tooltip</title>
    <link rel="stylesheet" href="./style.css">
    
</head>

<body>
    <div>
        <div class="tooltip-1" data-tooltip="Hello">AAAAAAAA</div>

        <h2>Bottom</h2>
        <p class="tooltip--bottom" data-tooltip="Hello World!">Short</p>
        <p class="tooltip--bottom" data-tooltip="Hello World!">Loooooooooooooooooong link</p>
    </div>
</body>

</html>