.fullPageScroll {
  position: relative;
  width: 100%;
  height: 100vh;
  scroll-snap-type: mandatory y;
}
.fullPageScroll .section {
  position: relative;
  width: 100%;
  height: 100%;
  background-blend-mode: multiply;
  scroll-snap-align: start;
}
.fullPageScroll .section:nth-child(1) {
  background: grey;
  background-image: url("../../../photos/bg1.png");
}
.fullPageScroll .section:nth-child(2) {
  background: red url("../../../photos/bg2.png");
}
.fullPageScroll .section:nth-child(3) {
  background: yellow url("../../../photos/bg3.png");
}
.fullPageScroll .section:nth-child(4) {
  background: blue url("../../../photos/bg1.png");
}
.fullPageScroll .section:nth-child(5) {
  background: orange url("../../../photos/bg5.png");
}
.fullPageScroll .section:nth-child(n) {
  background-size: cover;
  background-attachment: fixed;
}
.fullPageScroll .section .content {
  position: absolute;
  bottom: 50px;
  left: 50px;
  max-width: 700px;
}
.fullPageScroll .section .content h2 {
  background: #fff;
  color: #111;
  font-weight: 600;
  display: inline-block;
  padding: 10px 20px;
  font-size: 2em;
}
.fullPageScroll .section .content p {
  background: #fff;
  color: #111;
  font-weight: 300;
  padding: 10px 20px;
  margin-top: 10px;
}
