<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>T1</title>
    <style>
        html,body{
            background-color: black;
            color: white;
        }
        .tr1{
            border:2px solid lime;
        }
        .td1{
            border:2px solid red;
            margin: 10px;
        }
        .img1{
            border:2px solid yellow;
            height: 100px;
            width: 100px;
        }
        .img2{
            border:2px solid yellow;
            height: 30px;
            width: 60px;
        }
    </style>
</head>
<body>
    <div>
        <input type="number">
    </div>
    <table>
        <tr class="tr1">
            <td class="td1">
                <div class="img2">XXXXX</div>
            </td>
            <td class="td1">
                <div class="img1">XXXXX</div>
            </td>
        </tr>
        <tr class="tr1">
            <td class="td1">
                <div class="img2">XXXXX</div>
            </td>
            <td class="td1">
                <div class="img1">XXXXX</div>
            </td>
        </tr>
        <tr class="tr1">
            <td class="td1">
                <div class="img2">XXXXX</div>
            </td>
            <td class="td1">
                <div class="img1">XXXXX</div>
            </td>
        </tr>
    </table>
    
</body>
</html>