/* textField2.scss */


.textField2 {
    display: flex;
    flex-flow: column-reverse;
    margin-bottom: 1em;

    & label,
    input {
        transition: all 0.2s;
        touch-action: manipulation;
    }

    & input {
        font-size: 1.5em;
        border: 0;
        border-bottom: 1px solid #ccc;
        font-family: inherit;
        -webkit-appearance: none;
        border-radius: 0;
        padding: .3em;
        cursor: text;
    }

    & input:focus {
        outline: 0;
        border-bottom: 1px solid #666;
    }

    & label {
        text-transform: uppercase;
        letter-spacing: 0.05em;
    }

    & input:placeholder-shown+label {
        color: red;
        cursor: text;
        max-width: 66.66%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        transform-origin: left bottom;
        transform: translate(.4em, 3.1em) scale(1.5);
        -webkit-transform: translate(.4em, 3.1em) scale(1.5);
        -moz-transform: translate(.4em, 3.1em) scale(1.5);
        -ms-transform: translate(.4em, 3.1em) scale(1.5);
        -o-transform: translate(.4em, 3.1em) scale(1.5);
    }

    /**
    * Show the placeholder when the input is focused.
    */
    & input:focus::-webkit-input-placeholder {
        opacity: 1;
    }

    ::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: orange;
        opacity: 0;
        /* Firefox */
    }

    /**
* When the element is focused, remove the label transform.
* Also, do this when the placeholder is _not_ shown, i.e. when 
* there's something in the input at all.
*/
    & input:not(:placeholder-shown)+label,
    & input:focus+label {
        color: blue;
        transform: translate(0, 0) scale(1);
        cursor: pointer;
        -webkit-transform: translate(0, 0) scale(1);
        -moz-transform: translate(0, 0) scale(1);
        -ms-transform: translate(0, 0) scale(1);
        -o-transform: translate(0, 0) scale(1);
    }
}

/**
* By default, the placeholder should be transparent. Also, it should 
* inherit the transition.
*/
::-webkit-input-placeholder {
    opacity: 0;
    transform: translate(.1em, -.1em) scale(1);
    transition: inherit;
    -webkit-transform: translate(.1em, -.1em) scale(1);
    -moz-transform: translate(.1em, -.1em) scale(1);
    -ms-transform: translate(.1em, -.1em) scale(1);
    -o-transform: translate(.1em, -.1em) scale(1);
    -webkit-transition: inherit;
    -moz-transition: inherit;
    -ms-transition: inherit;
    -o-transition: inherit;
}
